[profile.default]
solc = '0.8.21'
src = 'src'
out = 'out'
libs = ["node_modules", "lib"]
test = 'test/foundry'
remappings = [
    '@rari-capital/solmate/=lib/solmate/',
    'ds-test/=lib/ds-test/src/',
    'forge-std/=lib/forge-std/src/',
    'murky/=lib/murky/src/',
    '@openzeppelin/=lib/openzeppelin-contracts/',
    'solarray/=lib/solarray/src/',
    'solady/=lib/solady/',
    'seaport-sol/src/=src/sol/',
    'seaport-sol/=src/sol/',
    'seaport-types/src/=src/types/',
    'seaport-types/=src/types/',
    'seaport-core/src/=src/core/',
    'seaport-core/=src/core/',
    'seaport/=src/main/'
]
optimizer_runs = 4_294_967_295
fs_permissions = [
    { access = "read", path = "./optimized-out" },
    { access = "read", path = "./reference-out" },
    { access = "write", path = "./call-metrics.txt" },
    { access = "write", path = "./mutation-metrics.txt" },
    { access = "write", path = "./assume-metrics.txt" },
    { access = "write", path = "./fuzz_debug.json" }
]

[profile.validator]
solc = '0.8.17'
src = 'src/main/helpers/order-validator'
optimizer_runs = 1

[fuzz]
runs = 1_000
max_test_rejects = 1_000_000

[profile.reference]
solc = '0.8.21'
src = 'reference'
out = 'reference-out'
script = 'reference'
# specify something so it doesn't try to compile the 0.8.17 files in test/foundry
test = 'reference'

[profile.optimized]
via_ir = true
out = 'optimized-out'
script = 'src/main'
bytecode_hash = 'none'
# no need to compile tests with via-ir since they load optimized bytecode directly by default
test ='src/main'

[profile.test]
src = 'test/foundry'

[profile.test.fuzz]
runs = 1_000

[profile.lite]
out = 'optimized-out'

[profile.debug]
src = 'src/main'
optimizer = false

[profile.moat_debug]
optimizer = false
test = 'test/foundry/new'

[profile.offerers]
src='offerers'
test='offerers'
out = 'offerers-out'
script = 'offerers'

[fmt]
line_length = 80
tab_width = 4
bracket_spacing = true

# See more config options https://github.com/gakonst/foundry/tree/master/config
